body
{
    background-color: #161214;
    font-family: 'Varela Round', sans-serif;
    color: #7D7C7A;
}
.header
{
    height: 80px;
    padding: 0%;
    margin-bottom: 30px;
    font-size: 31px;
    /**border: 5px;
    border-style: solid;
    border-color: black;**/
}
.header a
{
    text-decoration: none;
    color: white;
}
.header a:hover
{
    text-decoration: underline;
}
.footer
{
    height: 10px;
    text-align: right;
    padding: 10px;
    font-size: 51px;
}
.footer a
{
    text-decoration: none;
    color: white;
}
.footer a:hover
{
    text-decoration: underline;
}
.container
{
    padding:30px;
    width: auto;
    height: 1000px;
}
.foty
{
    width: 50%;
    object-fit: contain;
}
.foty img
{
    border-radius: 20px;
    padding: 10px;
    width: 120%;
}
.foty img:hover
{
    transform: scale(1.02)
}