body
{
    background-color: rgb(37, 37, 37);
    background-image: linear-gradient(80deg, rgb(54, 54, 54) 0%, rgb(29, 29, 29) 0%);
    animation: fadein 5.3s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.navi 
{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 40px;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
}
#blok
{
    margin: 50px;
    height: 200px;
    width: 200px;
    font-family: 'Karla', sans-serif;
    font-size: 45px;
    float: left;
    text-align: center;
}
#blok a
{
    color: black;
    text-decoration: none;
}
#blok a:hover
{
    color: black;
    text-decoration: none;
    cursor: default;
    font-size: 50px;
}
footer
{
    width: auto;
    min-height: 100%;
    font-size: 20px;
    text-align: right;
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
}

